<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col"> Published Time</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each newses}}
    <tr>
      <td>{{title}}</td>
      <td>{{description}}</td>
      <td>{{publishedAt}}</td>
      <td>
        <a href="/news/edit/{{id}}" class="btn btn-dark" style="margin-bottom: 10px;">Edit News</a>
        <a href="http://localhost:5000/news/deleteNews/{{id}}" class="btn btn-danger btn-block">Delete</a>
        </form>
      </td>
    </tr>
    {{else}}
    <p>No News to display</p>
    {{/each}}
  </tbody>
</table>