<div class="container" style="margin-top:10px;">
<div class="card-deck">
{{#each content}}
    <div class="card mb-3"  style="margin-right:auto" >
        <img class="card-img-top" src="/img/logo_transparent.png" alt="Card image cap" style="width:100%">
    <div class="card-body">
        <h5 class="card-title">{{destination}}</h5>
        <p class="card-text">{{duration}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><img src="img/price.png" alt="flag"><b> Price:</b> Rs.{{price}}</li>
        <li class="list-group-item"><img src="img/time.png" alt="flag"><b> Time:</b> {{time}}</li>
        <li class="list-group-item"><img src="img/date.png" alt="flag"><b> Date:</b> {{date}}</li>
        <li class="list-group-item"><img src="img/loac.png" alt="flag"><b> Station:</b> {{station}}</li>
    </ul>
    <div class="card-body">
        <a href="/contentlogs/checkout/{{id}}" class="btn btn-primary btn-block">Book Ticket</a>
    </div>
    </div>
{{else}}
    <div class="alert alert-success" role="alert">
        No Tickets Available
    </div>
{{/each}}
</div>
</div>